<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="add-box">

    <div class="field" id="text-field">
      <%= form.text_field :name, id: :list_name, placeholder: 'New List' %>
    </div>
    <div class="actions">
      <%= form.submit "+", class: "plus-button" %>
    </div>

  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  

  
<% end %>
