<h1 class="list-name">  
  <%= @list.name %> 
</h1>
<%= link_to 'edit name', edit_list_path(@list), class: 'edit-name' %>

<div id="items" class="container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="col-xs-1"></th>
				<th class="col-xs-1">Quantity</th>
				<th class="col-xs-9">Item</th>
				<th class="col-xs-1"></th>				
			</tr>
		</thead>
		<tbody>
			<% @list.items.each do |item| %>

			<tr>
				<td id="test">
					<%= link_to check_path(id: item.id), remote: true, method: :put do %>
						<% if item.is_checked == false %>
							<span class="glyphicon glyphicon-unchecked"></span>
						<% else %>
							<span class="glyphicon glyphicon-check"></span>
						<% end %>
					<% end %>
				</td>
				<td><%= item.quantity %></td>
				<td><%= item.name %></td>
				<td><%= link_to item, remote: true, method: :delete do %>
					<span class="glyphicon glyphicon-remove-circle x-button"></span>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>	
</div>

<div id="items">
	<%= render 'items/form', item: @item %>
</div>

<%= link_to 'Back', lists_path %>
