<p id="notice"><%= notice %></p>

<h2 class="list-name">  
  <%= @list.name %> 
</h2>
<%= link_to 'edit name', edit_list_path(@list), class: 'edit-name' %>



<div id="items" class="container">
	<table class="table">
		<thead>
			<tr>
				<td>Item</td>
				<td>Quantity</td>
			</tr>
		</thead>

		<tbody>
			<% @list.items.each do |item| %>
			<tr>
				<td><%= item.name %></td>
				<td><%= item.quantity %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	
</div>



<div id="items">
	<%= render 'items/form', item: @item %>
</div>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
