<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="add-box">
    <div class="field">
      <%= form.number_field :quantity, placeholder: 1, class: "qty-box" %>
    </div>
    
    <div class="field">
      <%= form.text_field :name, placeholder: "add item", class:"text-field" %>
    </div>

    <div class="actions">
      <%= form.submit "+", class: "plus-button"%>
    </div>
  </div>
<%= form.hidden_field :list_id, value: @list.id %>  
<% end %>